# Виртуальное окружение
venv/
env/
ENV/

# Файлы с секретами
.env
.streamlit/secrets.toml
*.secrets.toml

# Кэш Python
__pycache__/
*.pyc
.pytest_cache/

# Кэш Streamlit
.streamlit/

*.db

# IDE
.vscode/
.idea/
*.swp
*.swo